<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="index :: setHead(~{::head})">
    <th:block th:fragment="head">
        <title>Main</title>
    </th:block>
</th:block>
<th:block th:replace="index :: setContent(~{::content})">
    <th:block th:fragment="content">
        <div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>IDX</th>
                    <th>TITLE</th>
                    <th>WRITER</th>
                    <th>UPLOAD TIME</th>
                </tr>
                </thead>
                <tbody id="boardTable">
                <tr th:each="board : ${boardList}">
                    <td th:text="${board.id}"></td>
                    <td><a th:href="@{/board/{id}/detail(id=${board.id})}" th:text="${board.title}"></a></td>
                    <td th:text="${board.writer}"></td>
                    <td th:text="${#temporals.format(board.regDate, 'yyyy-MM-dd')}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <script th:inline="javascript">
            let boardList = /*[[ ${boardList }]]*/ '';
        </script>
    </th:block>
</th:block>