<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="index :: setHead(~{::head})">
    <th:block th:fragment="head">
        <title>Main</title>
    </th:block>
</th:block>
<th:block th:replace="index :: setContent(~{::content})">
    <th:block th:fragment="content">
        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>IDX</th>
                    <th>TITLE</th>
                    <th>WRITER</th>
                    <th>UPLOAD TIME</th>
                </tr>
                </thead>
                <tbody id="boardTable">
                <tr th:each="board : ${boardList.dtoList}">
                    <td th:text="${board.id}"></td>
                    <td><a th:href="@{/board/{id}/detail(id=${board.id})}" th:text="${board.title}"></a></td>
                    <td th:text="${board.writer}"></td>
                    <td th:text="${#temporals.format(board.regDate, 'yyyy-MM-dd')}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <ul class="pagination h-100 justify-content-center align-items-center">
                <li class="page-item" th:if="${boardList.prev}">
                    <a class="page-link" th:href="@{/board/(page=${boardList.start - 1})}" tabindex="-1">Prev</a>
                </li>
                <li th:each="page : ${boardList.pageList}" th:class="'page-item ' + ${boardList.page == page ? 'active' : ''}">
                    <a class="page-link" th:href="@{/board/(page = ${page})}">[[${page}]]</a>
                </li>
                <li class="page-item" th:if="${boardList.next}">
                    <a class="page-link" th:href="@{/board/(page=${boardList.end + 1})}">Next</a>
                </li>
            </ul>
        </div>
        <script th:inline="javascript">
            let boardList = /*[[ ${boardList }]]*/ '';
        </script>
    </th:block>
</th:block>